{% extends "layout_logeado.html" %} 
{% block content %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">               
    <title>Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/empleados.css') }}">
        
</head>
    <body>
        <font color="red">
        <h1>Empleados</h1>
    </font>
        <!--<div class="encabezado">
            <h2>Titulo</h2>
        </div>-->
        <div class="central">
            <div class="menu">
                <ul>
                    <li><a href="adminpanel.html">Regresar</a></li><br>                                    
                </ul>
            </div>
            <div class="articulo">
                <table border="1">
                	<tr>
                		<th>ID Usuario</th>
                		<th>Nombre</th>
                		<th>Apellido</th>
                        <th>Telefono</th>
                        <th>Opciones</th>                		
                	</tr>
                	<tr>               
                <td> 3121 </td>
                <td> Gustavo  </td>
                <td> Olivares </td>
                <td> 3356984524 </td>
                <td><button class="button button1">Editar</button>
                    <button class="button button2">Eliminar</button>
                </td>               
           	        </tr>          	                 	        
                </table>
                <form action="empleados.html" method="get">
                    <p>Nombres: <input type="text" name="nombre" size="40"></p>
                    <p>Apellidos: <input type="text" name="apellido" size="40"></p>
                    <p>Direccion: <input type="text" name="direccion" size="40"></p>
                    <p>Telefono: <input type="text" name="telefono" size="40"></p>
                    <p>Fecha de nacimiento: <input type="date" name="fecha"></p>
                    <p>Sexo:
                      <input type="radio" name="hm" value="h"> Hombre
                      <input type="radio" name="hm" value="m"> Mujer
                    </p>
                    <p>¿Sera Administrador del sistema?</p>
                    <input type="radio" name="boton1" value="1">Si<br>
                    <input type="radio" name="boton2" value="2">No
                    <p>
                      <input type="submit" value="Guardar">
                      <input type="reset" value="Borrar">
                    </p>
                  </form>               
            </div>
        </div>
        <!--<div class="pie">
            <p>Pie de Pagina</p>
        </div>-->
    </body>
</html>
{% endblock %} 